<section id="projects">
  <h2 translate>projects</h2>

  <div id="main" class="around-line">
    <p
      id="description"
      [innerHTML]="
        'Here you‵ll find a compilation of the projects I‵ve had the privilege of developing, each one representing a unique journey and a valuable learning experience. This collection reflects not only my technical knowledge, but also my passion for creation and innovation.<br /><br />Each project listed is the result of dedication, collaboration and an ongoing commitment to excellence. By sharing these creations, I seek not only to demonstrate skills, but also to inspire others to explore new possibilities and venture into the world of innovation.<br /><br />Feel free to explore the details of each project. Each one carries with it a purpose and a distinct set of challenges that were faced and overcome.'
          | translate
      "
    ></p>

    <div id="showcase">
      <div id="repos">
        <a
          *ngFor="let repository of repositories; index as idx"
          class="repo"
          [href]="repository.html_url"
          target="_blank"
        >
          <header class="infos">
            <span class="id">#{{ repository.id }}</span>

            <div class="data-size">
              <div class="info">
                <img
                  src="assets/projects/data.svg"
                  [alt]="'Date' | translate"
                />
                <span>{{ repository.updated_at | date : "MM/YYYY" }}</span>
              </div>
              <div class="info">
                <img
                  src="assets/projects/size.svg"
                  [alt]="'Size' | translate"
                />
                <span>{{ repository.size }}kb</span>
              </div>
            </div>
          </header>

          <strong class="name">{{ repository.name }}</strong>

          <footer>
            <div class="languages">
              <img
                *ngFor="let lang of repository.topics"
                src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/{{
                  lang
                }}/{{ lang }}-original.svg"
                [alt]="lang"
              />
            </div>
            <a [href]="repository.html_url" target="_blank">
              <img
                src="assets/projects/external_link.svg"
                [alt]="'Go to repository' | translate"
              />
            </a>
          </footer>
        </a>
      </div>

      <div id="preview">
        <owl-carousel-o [options]="carouselOpts">
          <ng-template
            carouselSlide
            *ngFor="let project of highlightedProjects"
          >
            <img [src]="project.thumbnail" [alt]="project.name" />

            <div class="infos">
              <header>
                <strong>{{ project.name }}</strong>
                <div class="links">
                  <a
                    [href]="project.url"
                    target="_blank"
                    [matTooltip]="'Visit site' | translate"
                  >
                    <img
                      src="assets/projects/site.svg"
                      [alt]="'Visit site' | translate"
                    />
                  </a>
                  <a
                    [href]="project.github"
                    target="_blank"
                    [matTooltip]="'Visit repository' | translate"
                  >
                    <img
                      src="assets/projects/github.svg"
                      [alt]="'Visit repository' | translate"
                    />
                  </a>
                </div>
              </header>

              <footer>
                <div class="techs">
                  <ng-template let-tech #techImg>
                    <img
                      src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/{{
                        tech
                      }}/{{ tech }}-plain.svg"
                      [alt]="tech"
                    />
                  </ng-template>

                  <ng-container
                    *ngFor="let tech of project.techs"
                    [ngTemplateOutlet]="techImg"
                    [ngTemplateOutletContext]="{ $implicit: tech | lowercase }"
                  ></ng-container>
                </div>
                <p
                  class="description"
                  [innerHTML]="project.description | translate"
                ></p>
              </footer>
            </div>
          </ng-template>
        </owl-carousel-o>
      </div>
    </div>
  </div>
</section>
