<header class="container">
  <a routerLink="/" id="logo">
    <ngx-typed-js [strings]="['Ruan']" [typeSpeed]="100" [showCursor]="false">
      <h1>
        <span><</span>
        <span class="typing"></span>
        <span>/></span>
      </h1>
    </ngx-typed-js>
  </a>

  <div id="links">
    <a
      routerLink="/"
      fragment="about"
      routerLinkActive="active"
      [routerLinkActiveOptions]="linkActivateOptions"
      #rla="routerLinkActive"
      >sobre</a
    >
    <a
      routerLink="/"
      fragment="experience"
      routerLinkActive="active"
      [routerLinkActiveOptions]="linkActivateOptions"
      >experiencia</a
    >
    <a
      routerLink="/"
      fragment="skills"
      routerLinkActive="active"
      [routerLinkActiveOptions]="linkActivateOptions"
      >habilidades</a
    >
    <a
      routerLink="/"
      fragment="projects"
      routerLinkActive="active"
      [routerLinkActiveOptions]="linkActivateOptions"
      >projetos</a
    >
  </div>
</header>
