<section id="skills">
  <div class="frame frame-1">
    <span class="frame-assist"></span>

    <div id="panel">
      <div id="title-technologies">
        <h2 translate>skills</h2>

        <div id="technologies">
          <button class="tech">
            <img
              src="assets/skills/js-ts.svg"
              alt="Javascript and Typescript"
            />
          </button>
          <button class="tech active">
            <img
              src="assets/skills/js-ts.svg"
              alt="Javascript and Typescript"
            />
          </button>
          <button class="tech">
            <img
              src="assets/skills/js-ts.svg"
              alt="Javascript and Typescript"
            />
          </button>
        </div>
      </div>

      <div id="window">
        <div id="header-techs">
          <button class="tech">
            <img src="assets/skills/javascript.svg" alt="Javascript" />
            javascript
          </button>
          <button class="tech active">
            <img src="assets/skills/javascript.svg" alt="Javascript" />
            javascript
          </button>
          <button class="tech">
            <img src="assets/skills/javascript.svg" alt="Javascript" />
            javascript
          </button>
          <button class="tech">
            <img src="assets/skills/javascript.svg" alt="Javascript" />
            javascript
          </button>
        </div>

        <div id="knowledge-preview">
          <div id="knowledge">
            <button class="skill">function</button>
            <button class="skill active">function</button>
            <button class="skill">function</button>
            <button class="skill">function</button>
            <button class="skill">function</button>
            <button class="skill">function</button>
            <button class="skill">function</button>
          </div>

          <div id="preview"></div>
        </div>
      </div>
    </div>
  </div>
</section>
