/* You can add global styles to this file, and also import other style files */
@import "variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Fira Code", sans-serif;
  color: $white;

  // Firefox
  scrollbar-width: thin;

  /* Chrome, Edge, and Safari */
  &::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $light-blue;
    border-radius: 4px;
    border: 0;
  }
}

html,
body {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: $medium-blue;
  scroll-behavior: smooth;
}

app-root {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: hidden;
}

a {
  text-decoration: none;
}

button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

/* Grid Classes */
.container {
  display: block;
  padding: 40px 80px;
}

.flex {
  display: flex;
}

.flex-cv {
  align-items: center;
}

.flex-ch {
  justify-content: center;
}
