/* You can add global styles to this file, and also import other style files */
@import "variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Fira Code", sans-serif;
  color: $white;

  // Firefox
  scrollbar-width: thin;

  /* Chrome, Edge, and Safari */
  &::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $light-blue;
    border-radius: 4px;
    border: 0;
  }
}

html,
body {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: $medium-blue;
  scroll-behavior: smooth;
}

app-root {
  display: flex;
  flex-direction: column;
  flex: 1;
}

a {
  text-decoration: none;
}

button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

button,
a {
  &.outline {
    display: flex;
    align-items: center;
    width: max-content;
    gap: 16px;
    color: $yellow;
    border: 2px solid $yellow;
    border-radius: 12px;
    padding: 0 20px;
    @include transition(0.6s);

    svg {
      path {
        @include transition(0.6s);
      }
    }

    &:hover {
      border-color: $medium-blue;
      background-color: $yellow;
      color: $medium-blue;

      svg {
        path {
          stroke: $medium-blue;
        }
      }
    }
  }
}

/* Grid Classes */
.container {
  display: block;
  padding: 40px 80px;
}

.flex {
  display: flex;
}

.flex-cv {
  align-items: center;
}

.flex-ch {
  justify-content: center;
}

.flex-wr {
  flex-wrap: wrap;
}

/* General Classes */
.title {
  font-size: 64px;
  font-weight: normal;

  &::before {
    content: "#";
    color: $yellow;
  }
}
