// Grid
@mixin container {
  width: 100%;
  max-width: 1366px;
  padding: 40px 80px;
  position: relative;
  overflow: hidden;
  margin: 0 auto;
}

@mixin container-flex(
  $direction: row,
  $alignItems: center,
  $justifyContent: start,
  $grow: false
) {
  @include container();
  display: flex;
  flex-direction: $direction;
  align-items: $alignItems;
  justify-content: $justifyContent;

  @if $grow {
    flex-grow: 1;
  }
}

@mixin flex-growing {
  display: flex;
  flex-grow: 1;
}
