@import "variables";
@import "grid";

:host {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  border-bottom: 2px solid $yellow;

  ::ng-deep {
    .code-line {
      .reserved-color {
        color: $yellow;
      }

      .attr-color {
        color: $light-blue;
      }
    }
  }
}

#home {
  @include container-flex(column, center, start, true);

  #presentation {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    margin-bottom: 100px;

    #code-container {
      background-color: #21202e;
      padding: 20px;
      border-radius: 10px;
      width: 500px;

      #window-actions {
        display: flex;
        gap: 6px;
        margin-bottom: 16px;

        i {
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 50%;
          width: 16px;
          height: 16px;

          svg {
            opacity: 0;
            @include transition;
          }

          &.red {
            background-color: #ff5f5a;

            svg {
              width: 7px;
            }
          }

          &.yellow {
            background-color: #ffbe2e;

            svg {
              width: 10px;
            }
          }

          &.green {
            background-color: #2aca44;
          }

          &:hover {
            cursor: pointer;

            svg {
              opacity: 0.5;
            }
          }
        }
      }

      #code-block {
        counter-reset: line;

        .code-line {
          display: block;

          &::before {
            content: counter(line);
            counter-increment: line;
            display: inline-block;
            color: #3b3855;
            font-weight: bold;
            margin-right: 12px;
          }
        }
      }
    }

    #who-am-i {
      > button {
        color: $yellow;
        border: 2px solid $yellow;
        border-radius: 4px;
        width: 240px;
        padding: 10px 0;
        font-size: 1.6rem;
        font-weight: bold;
        margin: 0 auto;
        display: block;
        overflow: hidden;
        max-width: 100vw;
        max-height: 100vh;
        @include transition(0.6s);

        &:hover {
          border-color: $medium-blue;
          background-color: $yellow;
          color: $medium-blue;
        }
      }

      #picture {
        display: flex;
        flex-direction: column;

        &-header {
          color: $yellow;
          font-size: 2rem;
        }

        #wrapper {
          width: 340px;
          height: 340px;
          margin: 16px 0;
          border-radius: 10px;
          position: relative;
          overflow: hidden;

          > img {
            position: absolute;
            top: 1%;
            left: 1%;
            display: block;
            height: 98%;
            width: 98%;
            margin: auto;
            z-index: 1;
          }

          #border {
            position: absolute;
            display: block;
            top: -50%;
            left: -50%;
            z-index: -9;
            display: block;
            height: 200%;
            width: 200%;
            transform: rotate(-45deg);
            overflow: hidden;
            background: linear-gradient(
              to right,
              $medium-blue 20%,
              $medium-blue 40%,
              $yellow 50%,
              $yellow 55%,
              $medium-blue 70%,
              $medium-blue 100%
            );
            background-size: 200% auto;
            animation: shine 3s linear infinite;
            z-index: 1;

            @keyframes shine {
              to {
                background-position: 200% center;
              }
            }
          }
        }

        &-footer {
          margin-left: auto;
          position: relative;
          font-size: 0.875rem;
          user-select: none;

          &::before {
            content: "";
            display: block;
            position: absolute;
            width: 120%;
            height: 200%;
            z-index: 1;
            top: -16px;
          }

          svg {
            position: absolute;
            top: -8px;
            scale: 1.5;
            @include transition(0.4s);
          }

          &:hover {
            cursor: pointer;

            svg {
              top: -12px;
              transform: rotateY(360deg);
            }
          }

          &.up {
            svg {
              top: -20px;
            }

            #point-up {
              opacity: 1;
            }
          }

          #point-up {
            width: 28px;
            position: absolute;
            @include transition;
            opacity: 0;
            left: 0;
          }
        }
      }
    }
  }

  #epic-phrase {
    position: relative;
    max-width: 950px;

    p {
      display: flex;

      font-size: 30px;
      font-weight: lighter;
      text-align: center;
      letter-spacing: 12px;
      margin: 0 auto 30px;
      margin-bottom: 30px;

      &::before,
      &::after {
        color: $yellow;
        font-size: 100px;
        width: 60px;
        height: 70px;
      }

      &::before {
        content: "“";
        margin: -40px 20px 0 -10px;
      }

      &::after {
        content: "”";
        margin: 40px -10px 0 20px;
      }
    }

    strong {
      display: flex;
      align-items: center;
      color: $light-blue;
      font-weight: 500;
      font-size: 1.25rem;

      &::before {
        content: "";
        display: inline-block;
        flex: 1;
        height: 1px;
        background-color: $light-blue;
        margin-right: 24px;
      }
    }
  }
}
